*{
    margin: 0;padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color:rgb(13, 25, 43)!important;
    font-family: 'Outfit';
}

.card{
    background-color: hsl(216, 50%, 16%)!important;
    height: auto;
    width: 295px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;
    -webkit-box-shadow:5px 21px 51px 2px rgba(13,25,43,0.75);
    box-shadow: 5px 21px 51px 2px rgba(13,25,43,0.75);

}

@media screen and (max-width: 375px){
    .card{
        margin-bottom: 4rem;
    }

}
.card_image{
    height: 280px;
    width: auto;
    border-radius: 21px;
    padding: 16px;
    margin-left: .5rem;
    margin-top: .5rem;
}
.card_title{
    color: white;
    font-size:  1.2rem;
    margin-left: 1.5rem;
    font-weight: 500;
}

.card_desc{
    color:#8bacda ;
    font-weight: 300;
    line-height: 1.4rem;
    margin-left: 1.5rem;
    margin-top: 1rem;

}

.card_currency{
    margin: 1rem 1.5rem;
    color: #00fff7;
    font-size: .8rem;
    font-weight: 500;
}

.grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}

.card_offer{
    margin-top:.9rem;
    color: #8bacda;
    font-weight: 400;
    font-size: .9rem;
    margin-left: 1.7rem;
    vertical-align: middle;
    white-space: nowrap;
}

.card_lower_profile{
    height: 32px;
    width: auto;
    margin-top: .5rem;
    margin-left: 1.5rem;
    border: 1px solid white;
    border-radius: 50%;
}

.divider{
    width: 250px;
    margin-left: 1.1rem!important;
   background-color: #8bacda;
   opacity: 0.1;

}

.card_lower_desc{
    color: white;
    float: right;
    margin-top:.9rem;
    font-weight: 300;
    margin-right: 2.9rem;

}

i{
    vertical-align: middle;
    margin-right: .5rem;

}

h2{
    color:#8bacda!important;
    margin-left: 1.5rem!important;
    font-size: 15px!important;
}

.author_profile{
    display: flex;
    
}

.card_lower_desc{
    margin-left: 0.5rem;
    font-size: 13px;
}
.card_lower_desc span{
    color: #8bacda;
    font-weight: 400;
}